*.o
*.lo
*.la
*.exe
.auto
.libs
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
config.h
config.log
config.status
configure
libtool
stamp-*
*-stamp
doc/toilet.1
src/toilet
test/*.log
test/*.trs
tools/caca2tlf
